[*.{kt,kts}]
ktlint_code_style = ktlint_official
max_line_length = 160
indent_size = 4
continuation_indent_size = 4
insert_final_newline = true
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_standard_final-newline = enabled
ktlint_function_naming_ignore_when_annotated_with = Composable, Preview, PreviewParameter, PreviewParameterProvider, PreviewParameterProviderKt
ktlint_function_signature_body_expression_wrapping = default
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_no-consecutive-comments = disabled
ktlint_standard_annotation = disabled